In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\ganger\anaconda3\envs\pythondata\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

# Project II 
### Data Manipulation

In [1]:
# Dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
Associates = pd.DataFrame(
{
    "Associates UIK",
    "Position",
    "Account"
})

In [4]:
Position_info = pd.DataFrame(
{
    "Positions",
    "Base Wage",
    "Incentive",
    "Base OT",
    "Incentive OT"
})

In [5]:
SKU_Master = pd.DataFrame(
{
    "SKU id number",
    "Description",
    "Run rate",
    "Hourly Run rate",
    "Case cost",
    "Position/case"
})

In [6]:
Volume = pd.DataFrame(
{
    "SKU id",
    "Production Volume",
    "Date"
})

In [9]:
# Payroll = pd.DataFrame(
# {
#     "Associates UIK",
#     "Pay",
#     "Date"
# })
file = "Payroll.csv"
payroll = pd.read_csv(file, encoding="ISO-8859-1")

In [10]:
payroll.head()

    ï»¿Date Pay Code  Hours   Wages  Associate UIK
0  9/7/2022  Regular   8.00  120.64        2727156
1  9/7/2022  Regular   8.00  258.49        2727832
2  9/7/2022  Regular   8.00  120.64        2727208
3  9/7/2022  Regular   8.15  146.21        2725570
4  9/7/2022  Regular   8.42  183.82        2726090

# JSONify the data

In [11]:
# json_file = "../Resources/Associates.json"
# Associates = pd.read_json(json_file)

# Connect to the SQL database

In [12]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'project_two_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

# Load the tables to SQL database

In [14]:
# new_customer_data_df.to_sql(name='Associates', con=engine, if_exists='append', index=False)
# new_customer_data_df.to_sql(name='Position_info', con=engine, if_exists='append', index=False)
# new_customer_data_df.to_sql(name='SKU_Master', con=engine, if_exists='append', index=False)
# new_customer_data_df.to_sql(name='Volume', con=engine, if_exists='append', index=False)
payroll.to_sql(name='payroll', con=engine, if_exists='append', index=False)